
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>
<form action="/Default/Login" method="post">
    <label>用户名：</label>
    <input type="text" name="userName" value="" />
    <label>密码：</label>
    <input type="password" name="password" value="" />
    <label>邮箱：</label>
    <input type="email" name="Email" value="" />
     
    <input type="submit"/>
</form>









